* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  background-color: lightgreen;
}

.profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
